<odoo>
  <data>

    
    <!-- Menu data -->
    
    <menuitem id="menu_erp_data_root" name="Données de base"  sequence="100" groups="erp_data.group_user" web_icon="erp_data,static/description/icon.png"/>

    <menuitem id="rail_network_root" name="Réseau ferroviaire" parent="menu_erp_data_root" sequence="10" groups="erp_data.group_user"/>
        <menuitem id="rail_network" name="Réseau ferroviaires" parent="rail_network_root" action="rail_network_action_window" sequence="10" groups="erp_data.group_user"/>
        <menuitem id="res_station" name="Gares" parent="rail_network_root" action="res_station_action_window" sequence="20" groups="erp_data.group_user"/>
        <!-- <menuitem id="res_branch" name="Branches" parent="rail_network_root" action="res_branch_action_window" sequence="30" groups="erp_data.group_user"/> -->
        <menuitem id="res_relation" name="Relations" parent="rail_network_root" action="res_relation_action_window" sequence="40" groups="erp_data.group_user"/>
        <menuitem id="res_line" name="Lignes" parent="rail_network_root" action="res_line_action_window" sequence="50" groups="erp_data.group_user"/>
        <menuitem id="railroad_crossing" name="Passage à niveau" parent="rail_network_root" action="railroad_crossing_action_window" sequence="60" groups="erp_data.group_user"/>
   
    <menuitem id="material_root" name="Matériels" parent="menu_erp_data_root" sequence="20" groups="erp_data.group_user"/>
        <menuitem id="rolling_material" name="Matériel roulant" parent="material_root" sequence="10" groups="erp_data.group_user" />
            <menuitem id="res_wcar_series" name="Séries des wagons" parent="rolling_material" action="res_wcar_series_action_window" sequence="10" groups="erp_data.group_user" />
            <menuitem id="res_wcar" name="Wagons" parent="rolling_material" action="res_wcar_action_window" sequence="20" groups="erp_data.group_user"/>
            <menuitem id="engine_material_locomotive" name="Locomotives" parent="rolling_material" action="engine_material_locomotive_action_window" sequence="30" groups="erp_data.group_user"/>
            <menuitem id="engine_material_handcar" name="Draisines" parent="rolling_material" action="engine_material_handcar_action_window" sequence="30" groups="erp_data.group_user"/>
            
            <menuitem id="res_car_root" name="Voitures" parent="rolling_material" action="res_car_action_window" sequence="40" groups="erp_data.group_user"/>
            <menuitem id="res_car" name="Voitures" parent="res_car_root" action="res_car_action_window" sequence="10" groups="erp_data.group_user"/>
            <menuitem id="res_type_car" name="Type des Voitures" parent="res_car_root" action="res_type_car_action_window" sequence="20" groups="erp_data.group_user"/>
            <menuitem id="res_series_car" name="Série des Voitures" parent="res_car_root" action="res_series_car_action_window" sequence="30" groups="erp_data.group_user"/>
       
        <!-- <menuitem id="spare_parts" name="Pièces de rechanges" parent="material_root" action="spare_parts_action_window" sequence="50" groups="erp_data.group_user"/> -->
    
    <!-- <menuitem id="products_root" name="Produits" parent="menu_erp_data_root" sequence="30" groups="erp_data.group_user"/>
        <menuitem id="strategic_products" name="Produits stratégiques" parent="products_root" action="strategic_products_action_window" sequence="10" groups="erp_data.group_user"/>
        <menuitem id="product_freight" name="Produits fret" parent="products_root" action="freight_product_action_window" sequence="20" groups="erp_data.group_user"/> -->
        <!-- <menuitem id="categories_products" name="Catégories de produits" parent="strategic_products_root" action="product.product_category_action_form" sequence="10"/> -->

    <menuitem id="res_train_root" name="Trains" parent="menu_erp_data_root" sequence="40" groups="erp_data.group_user"/>
        <menuitem id="train_type" name="Type de trains" parent="res_train_root" action="train_type_action_window" sequence="10" groups="erp_data.group_user"/>
        <menuitem id="res_train" name="Trains" parent="res_train_root" action="res_train_action_window" sequence="20" groups="erp_data.group_user"/>

   
  </data>
</odoo>